<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <div>
            <div><h1>Employee Dashboard</h1></div>
            <%- include('empLeftNav') %>
            <div class="rightcontainer">
              <h1>Welcome To Dashboard</h1>
            </div>
        </div>
    </div>
  </body>
</html>
