<div class="leftcontainer">
    <p style="color: green;"><%= empEmail %></p>
    <p style="color: green;"><%= empName %></p>
    <div class="adminoption"><a href="empDashboard">Home</a></div>
    <div class="adminoption"><a href="empAssignTask">Assign New Task</a></div>
    <div class="adminoption"><a href="myAssignTask">My Assign Task</a></div>
    <div class="adminoption"><a href="empDailyUpdate">Daily Update</a></div>
    <div class="adminoption"><a href="empViewDailyUpdates">View Daily Updates</a></div>
    <div class="adminoption"><a href="empReviewTask">Review Task</a></div>
    <div class="adminoption"><a href="empAssignedTask">Assigned Task</a></div>
    <div class="adminoption"><a href="empChangePass">Change Password</a></div>
    <div class="adminoption"><a href="logout">Logout</a></div>
</div>