<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div style="margin-left:300px; border: dotted; width: 380px; height: 300px; padding: 20px 20px;">
      <h2 style="padding:0px 25px 30px;">Welcome to Infagro IT Solutions</h2>
      <div><a href="/adminLogin"><button class="sub">Admin Longin</button></a></div><br>
      <div><a href="/empLogin"><button class="sub">Employee Login</button></a></div>
    </div>
  </body>
</html>
